{% load staticfiles %}
<!--Load css -->

<link rel="stylesheet" type="text/css" href="{% static 'viewcam/css/root.css' %}" />

<!-- Css for calendar -->


<link rel="stylesheet" type="text/css" href="{% static 'viewcam/css/jquery-ui.css' %}" />


<!--
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
-->

<!--Load Js -->

<!--
<script type="text/javascript" src="{% static 'viewcam/jquery/exporting.js'%}"></script>
<script type="text/javascript" src="{% static 'viewcam/jquery/highcharts.js'%}"></script>
-->

<!--
<script type="text/javascript" src="{% static 'viewcam/jquery/jquery1.3.min.js'%}"></script>
<script type="text/javascript" src="{% static 'viewcam/jquery/jquery1.7.1.min.js'%}"></script>
-->




<script type="text/javascript" src="{% static 'viewcam/jquery/jquery.min.js'%}"></script>
<script type="text/javascript" src="{% static 'viewcam/jquery/jquery.ajax.min.js' %}"></script>
<script type="text/javascript" src="{% static 'viewcam/strobe/lib/swfobject.js' %}"></script>


<script type="text/javascript" src="{% static 'viewcam/jquery/highchart/highcharts.js'%}"></script>
<script type="text/javascript" src="{% static 'viewcam/jquery/highchart/exporting.js'%}"></script>
<script src="{% static 'viewcam/nodejs/socket.io-1.2.0.js' %}"></script>




<!--
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
-->

<!-- js for calender
<script type="text/javascript" src="{% static 'viewcam/jquery/jquery1.6.2.min.js'%}"></script>
<script type="text/javascript" src="{% static 'viewcam/jquery/jquery-ui.min.js'%}"></script>
-->