<html>
<head>

    {% load staticfiles %}
    {% include 'viewcam/part/resource.html' %}


    <script type="text/javascript">


        /*
         setInterval(function () {
         ajax_demo();
         }, 2000);

         function ajax_demo() {
         var request2 = $.ajax({
         url: '../testhightchart/',
         type: 'GET'
         });

         request2.done(function (data) {
         var jsonData = JSON.parse(data.content);
         console.log(jsonData)
         });
         }
         */

        $(function () {
            $(document).ready(function () {
                Highcharts.setOptions({
                    global: {
                        useUTC: false
                    }
                });

                $('#container').highcharts({
                    chart: {
                        type: 'spline',
                        animation: Highcharts.svg, // don't animate in old IE
                        marginRight: 10,
                        events: {
                            load: function () {

                                // set up the updating of the chart each second
                                var series = this.series[0];
                                setInterval(function () {
                                    //var x = (new Date()).getTime(); // current time
                                    //y = Math.random();
                                    //        y = 4;
                                    //series.addPoint([x, y], true, true);

                                    var request2 = $.ajax({
                                        url: '../testhightchart/',
                                        type: 'GET'
                                    });

                                    request2.done(function (data) {
                                        var jsonData = JSON.parse(data.content);
                                        var x = (new Date()).getTime();
                                        //var x = jsonData['x'];
                                        var y = jsonData['y'];
                                        series.addPoint([x, y], true, true);
                                    });
                                }, 1000);
                            }
                        }
                    },
                    title: {
                        text: 'Live random data'
                    },
                    xAxis: {
                        type: 'datetime',
                        tickPixelInterval: 150
                    },
                    yAxis: {
                        title: {
                            text: 'Value'
                        },
                        plotLines: [{
                            value: 0,
                            width: 1,
                            color: '#808080'
                        }]
                    },
                    tooltip: {
                        formatter: function () {
                            return '<b>' + this.series.name + '</b><br/>' +
                                    Highcharts.dateFormat('%Y-%m-%d %H:%M:%S', this.x) + '<br/>' +
                                    Highcharts.numberFormat(this.y, 2);
                        }
                    },

                    rangeSelector: {
                        buttons: [{
                            count: 1,
                            type: 'minute',
                            text: '1M'
                        }, {
                            count: 5,
                            type: 'minute',
                            text: '5M'
                        }, {
                            type: 'all',
                            text: 'All'
                        }],
                        inputEnabled: false,
                        selected: 0
                    },

                    legend: {
                        enabled: false
                    },
                    exporting: {
                        enabled: false
                    },
                    series: [{
                        name: 'Random data',
                        data: (function () {

                            // generate an array of random data
                            var data = [],
                                    time = (new Date()).getTime(),

                                    i;
                            console.log(time);

                            for (i = -900; i <= 0; i += 1) {
                                var value = Math.random();
                                data.push({
                                    x: time + i * 10000,
                                    y: value
                                });
                            }
                            return data;
                        }())
                    }]
                });
            });
        });

    </script>


</head>
<body>
<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

</body>


</html>